<h1>Your Profile</h1>
<h2>Borrowed Books</h2>
<ul>
  <% @borrowings.each do |borrowing| %>
    <li>
      <%= borrowing.book.title %> - Due on <%= borrowing.due_date.to_date %>
      <%= button_to 'Return', return_borrowing_path(borrowing), method: :post %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back to Books', books_path %>